@media screen and (max-width: 1100px) {
    .home {
        width: 100%;

        header {

            width: 70%;

            .home_menu__item {
                font-size: 14px;
                margin-left: 5%;
            }

        }

        %about_title__info {
            width: 70px;
            height: 70px;
        }
    }
}

@media screen and (max-width: 768px) {
    .home {
        width: 100%;

        .menu__btn {
            z-index: 3;
            display: flex;
        }

        header {
            width: 10%;
            height: 9%;
            margin-left: 3%;
            margin-top: 0%;
            display: block;


            .home_menu__item {
                display: none;
            }
        }

        .home_info {
            width: 55%;
            left: 8%;

            .home_content {
                .home_block {
                    margin-top: 3px;
                    margin-bottom: 4px;
                }

                .home_fish {
                    p {
                        font-size: 1.6vw;
                    }
                }

                .home_buttons {
                    width: 120%;
                }
            }
        }

        %about_title__info {
            width: 85%;
            height: 30px;
            margin-left: 10%;
            font-size: $font_1 + 0.8;
        }

        .about {
            .about_text {
                .about_us {
                    p {
                        font-size: 1.6vw;
                    }
                }

                .about_readme {
                    p {
                        font-size: 1.6vw;
                    }
                }
            }
        }
    }

    .information {
        span {
            font-size: $font_1+2;
        }

        p {

            font-size: $font_1 + 0.5;
        }
    }

    footer {
        height: 6%;

        .footer_menu {
            margin-left: 4vw;
        }
    }
}

@media screen and (max-width: 615px) {
    .home {
        width: 100%;

        header {
            left: 0;
            padding-left: 20%;
            width: 100%;


            .home_menu__item {
                display: none;
            }
        }

        .home_info {
            width: 90%;
            left: 5%;

            .home_content {
                .home_title {
                    display: block;
                    font-size: 6vw;
                    float: unset;
                    text-align: center;
                }

                .home_block {
                    display: block;
                    float: none;
                    text-align: center;

                    .home_free__text {

                        font-size: 7.5vw;
                        text-align: center;
                    }

                    .home_music__text {

                        font-size: 7.5vw;
                        text-align: center;
                    }
                }

                .home_fish {
                    p {
                        font-size: 2.6vw;
                    }
                }

                .home_buttons {
                    width: 120%;
                    height: 20%;
                    height: 50px;
                    margin-top: 2%;

                    input {
                        height: 130%;
                        width: 39%;
                    }
                }
            }
        }

        %about_title__info {
            width: 85%;
            height: 30px;
            margin-left: 10%;
            font-size: $font_1 + 0.8;
        }

        .about {
            .about_text {

                width: 50%;
                height: 100%;
                float: left;

                .about_us {
                    p {
                        font-size: 1.6vw;
                    }
                }

                .about_readme {
                    p {
                        font-size: 1.6vw;
                    }
                }
            }

            .about_computer {
                width: 50%;
                height: 100%;
                float: left;

                img {
                    margin-top: 5%;
                    width: 100%;
                }
            }
        }

        .counter {
            height: 10%;
            width: 100%;
        }
    }

    .information {

        span {
            font-size: $font_1+2;
        }

        p {

            width: 50%;
            text-align: right;
            top: 20%;
            left: 5%;
            font-size: $font_1 + 0.5;
        }


    }


    footer {
        height: 6%;
        width: 100%;

        .footer_menu {
            margin-left: 2vw;

            .home_menu__item {
                font-size: 10px;
            }
        }
    }
}

@media screen and (max-width: 520px) {
    .home {
        width: 100%;

        header {
            width: 10%;
            height: 9%;
            margin-left: 3%;
            margin-top: 0%;
            display: block;


            .home_menu__item {
                display: none;
            }
        }

        .home_info {
            width: 90%;
            top: 5%;
            left: 5%;

            .home_content {
                .home_title {
                    display: block;
                    font-size: 7vw;
                    float: unset;
                    text-align: center;
                }

                .home_block {
                    display: block;
                    float: none;
                    text-align: center;

                    .home_free__text {

                        font-size: 7.5vw;
                        text-align: center;
                    }

                    .home_music__text {

                        font-size: 7.5vw;
                        text-align: center;
                    }
                }

                .home_fish {
                    p {
                        font-size: 4vw;
                    }
                }

                .home_buttons {
                    width: 120%;
                    height: 40px;

                    input {

                        width: 39%;
                    }
                }
            }
        }

        %about_title__info {
            width: 100%;
            padding-top: 0;
            height: 30px;
            margin-left: 0%;
            font-size: 5vw;
            margin-bottom: 2%;
        }

        .about {
            display: block;
            top: 70%;

            .about_text {

                width: 100%;
                height: 100%;
                float: left;

                .about_us {
                    margin-top: 0;
                    display: block;

                    p {
                        margin-left: 5%;
                        text-align: justify;
                        margin-right: 5%;
                        font-size: 4vw;
                    }
                }

                .about_readme {
                    margin-top: 35%;
                    display: block;

                    p {
                        margin-left: 5%;
                        text-align: justify;
                        margin-right: 5%;
                        font-size: 4vw;
                    }
                }
            }

            .about_computer {
                display: none;
            }
        }

        .counter {
            top: 170%;
            height: 10%;
            width: 100%;
            z-index: 1;

            .counter_group {
                margin-left: 0%;
                width: 100%;
                height: 100%;

                .counter_info {
                    display: table-column;
                    width: 25%;
                    height: 100%;
                    float: left;
                    text-align: center;

                    &:hover {
                        background-color: #c42400;
                    }

                    .counter_text {
                        width: 100%;
                        height: 40%;
                        margin-top: 5%;

                        span {

                            font-family: 'Abel', sans-serif;
                            color: white;
                            font-size: 7vw;
                        }

                        p {
                            font-family: 'Abel', sans-serif;
                            color: white;
                            font-size: 4vw;
                        }
                    }
                }
            }


        }
    }

    .information {
        margin-top: 100%;
        width: 100%;
        height: 60%;
        overflow: hidden;

        span {
            font-size: $font_1+2;
        }

        img {
            margin-left: -150%;
            width: 1500px;
            height: 100%;
        }

        p {

            width: 90%;
            text-align: justify;
            top: 10%;
            left: 5%;
            right: 5%;
            font-size: 4vw;
        }


    }


    footer {
        top: 200%;
        height: 6%;
        width: 100%;

        .footer_menu {
            margin-left: 2vw;
            width: 100%;

            .home_menu__item {

                font-size: 4vw;
                margin-left: 2%;
            }
        }
    }
}

@media screen and (max-width: 350px) {
    .information {

        height: 40%;
    }

}

@media screen and (max-width: 390px) {
    .home {
        width: 100%;

        header {
            width: 10%;
            height: 9%;
            margin-left: 3%;
            margin-top: 0%;
            display: block;


            .home_menu__item {
                display: none;
            }
        }

        .home_info {
            .home_content {
                .home_buttons {
                    width: 120%;
                    height: 25px;

                    input {

                        width: 39%;
                    }
                }
            }
        }
    }
}